<a href="https://colab.research.google.com/github/BooEiEi/data_viz_2022/blob/main/BasicPython%26DataViz_midterm2022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

ให้นักศึกษาใช้ข้อมูลจากตาราง confirmed_case.xlsx (จาก https://drive.google.com/drive/folders/1OmjM8ZgkEb10C4ZN44f-JxiBFaBwbWaM?usp=sharing) และข้อมูลจากตาราง 

ตอบคำถามต่อไปนี้ (โดยแสดงของการจัดภูมิภาคทั้ง 4 แบบ ภูมิศาสตร์ การเมือง อุตุนิยมวิทยา และ การท่องเที่ยว) คะแนนเต็ม 100 คะแนน โดยคะแนน Midterm คิดเป็น 30% ของคะแนนทั้งหมด

เตรียมข้อมูล (20 คะแนน)

อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)

เปรียบเทียบจำนวนผู้ป่วยในแต่ละภูมิภาค (ภูมิภาคใดมีจำนวนผู้ป่วยมากที่สุด และ น้อยที่สุด) (20 คะแนน)

แสดง Cluster การติด (risk) ที่ซ้ำกันมากที่สุดของแต่ละภูมิภาค (20 คะแนน)

สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละจังหวัด (province of onset) (20 คะแนน)

สร้างตารางอายุเฉลี่ยของผู้ติดเชื้อโควิดของแต่ละภูมิภาค (20 คะแนน)

มีอะไรสามารถโพสสอบถามได้ใน facebook group ภายใต้โพสของข้อสอบนี้

(คะแนน midterm เป็นคะแนนกลุ่ม)

In [68]:
import pandas as pd #นำเข้า pandas แทนที่ด้วย pd

In [69]:
import os

In [70]:
from google.colab import drive #นำเข้าข้อมูลจาก drive
drive.mount('/content/drive')
path = '/content/drive/My Drive/dataviz_2021_data'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [71]:
data_file_path = os.path.join(path,'confirmed-cases.csv')
data_df = pd.read_csv(data_file_path)

In [72]:
data_df

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [73]:
data_t = {'จังหวัด': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '4 ภูมิภาค (การเมือง)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้'],
            '6 ภูมิภาค (อุตุนิยมวิทยา)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน','ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน'],
            '5 ภูมิภาค (การท่องเที่ยว)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','กลาง','กลาง','กลาง','กลาง','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']
}
df_t = pd.DataFrame.from_dict(data_t)
df_t

       จังหวัด  ... 5 ภูมิภาค (การท่องเที่ยว)
0   อำนาจเจริญ  ...        ตะวันออกเฉียงเหนือ
1       บึงกาฬ  ...        ตะวันออกเฉียงเหนือ
2    บุรีรัมย์  ...        ตะวันออกเฉียงเหนือ
3      ชัยภูมิ  ...        ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์  ...        ตะวันออกเฉียงเหนือ
..         ...  ...                       ...
72       พังงา  ...                       ใต้
73      ภูเก็ต  ...                       ใต้
74       ระนอง  ...                       ใต้
75        สตูล  ...                       ใต้
76        ตรัง  ...                       ใต้

[77 rows x 5 columns]

In [74]:
set(data_df['province_of_onset'])

{nan,
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กระบี่',
 'กรุงเทพมหานคร',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่่น',
 'ขัยนาท',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ชุุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปบม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสวรรค์',
 'นตรปฐม',
 'นนทบุรี',
 'นราธิวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'บางกะปิ',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บ้านหลวง',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานีี',
 'ปทุุมธานี',
 'ปมุมธานี',
 'ประจวบคีรีขันธ์',
 'ประจวบฯ',
 'ปราจีนบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปัตตานี',
 'ปัว',
 'ปุทมธานี',
 'พม่า',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณูโลก',
 'ภูเก็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลอง',
 'ลาดพร้าว',
 'ลำปาง',
 'ลำพูน',
 'ลำลูกกา',
 'วังชิ้น',
 'ศรีษะเกษ',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สมถทรปราการ',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทราปราการ',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุุทรปราการ',
 'สมุุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สอง',
 'สองแคว',
 'สะแก้ว',
 'สารภี',
 'สิงห์บุรี',
 'สุทรปราการ',
 'สุพรรณบุรี',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุราษฎร์ธานี',
 'สุราษฎร์์ธานี',
 'สุราษฏร์ธานี',
 'สุรินทร์',
 'สุวรรณภูมิ',
 'สุุราษฎร์ธานี',
 'สุโขทัย',
 'สูงเม่น',
 'หนองคาย',
 'หนองบัวลำภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุดรธานีี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อ่างทอง',
 'อํานาจเจริญ',
 'เชียงราย',
 'เชียงใหม่',
 'เชีียงราย',
 'เด่นชัย',
 'เพชรบุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เมือง',
 'เมืองน่าน',
 'เรือ',
 'เลย',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'ไม่ระบุ'}

In [75]:
set(data_df['province_of_isolation'])

{nan,
 'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบุรี',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน'}

In [76]:
data_df['age'].mean()

35.67704043728804

In [77]:
data_df = data_df.fillna(value={'age':data_df['age'].mean()})
data_df

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร               NaN
1            2     17/1/2020  ...     กรุงเทพมหานคร               NaN
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร               NaN
4            5     24/1/2020  ...     กรุงเทพมหานคร               NaN
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [78]:
data_df.isnull().any() #เช็คว่าในแต่ละคอลัมน์มีค่าว่าหรือป่าว

No.                      False
announce_date            False
Notified date             True
sex                       True
age                      False
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

In [81]:
data_df1 = data_df.fillna(method="bfill") #ใช้bfill การแทนที่ด้วยค่าถัดไปคือการนำค่าถัดไปที่มีค่า ของเซลล์ตัวเองมาแทนที่ลงในช่องที่เป็น NaN
data_df1.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [86]:
data_df1

           No. announce_date  ... province_of_onset district_of_onset
0            1     12/1/2020  ...     กรุงเทพมหานคร             เมือง
1            2     17/1/2020  ...     กรุงเทพมหานคร             เมือง
2            3     22/1/2020  ...            นครปฐม             เมือง
3            4     22/1/2020  ...     กรุงเทพมหานคร            หัวหิน
4            5     24/1/2020  ...     กรุงเทพมหานคร            หัวหิน
...        ...           ...  ...               ...               ...
816984  816985     11/8/2021  ...           สระแก้ว           ตาพระยา
816985  816986     11/8/2021  ...           สระแก้ว           ตาพระยา
816986  816987     11/8/2021  ...           สระแก้ว        อรัญประเทศ
816987  816988     11/8/2021  ...     กรุงเทพมหานคร       บางขุนเทียน
816988  816989     11/8/2021  ...   พระนครศรีอยุธยา             อุทัย

[816989 rows x 11 columns]

In [88]:
data1 = data_df1.merge(df_t,how='right',left_on = 'province_of_onset',right_on = 'จังหวัด')# ตารางด้านซ้าย.merge(ตารางด้านขวา,how=เอาตารางไหนเป็นตารางหลัก,left_on=indexตารางซ้ายคืออะไรหรือคีร์ที่ใช้เชื่อม,right_on=indexตารางขวา)
data1

           No.  ... 5 ภูมิภาค (การท่องเที่ยว)
0          973  ...        ตะวันออกเฉียงเหนือ
1         1864  ...        ตะวันออกเฉียงเหนือ
2         6493  ...        ตะวันออกเฉียงเหนือ
3         7390  ...        ตะวันออกเฉียงเหนือ
4        31038  ...        ตะวันออกเฉียงเหนือ
...        ...  ...                       ...
816385  807715  ...                       ใต้
816386  807716  ...                       ใต้
816387  807717  ...                       ใต้
816388  807718  ...                       ใต้
816389  807719  ...                       ใต้

[816390 rows x 16 columns]

## ข้อ1 อายุของผู้ป่วยคนแรกในแต่ละภูมิภาค (เหนือ, กลาง, ใต้, ...) (20 คะแนน)

In [101]:
data2= data1[data1['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออกเฉียงเหนือ']
data2.head(1)

   No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
0  973     26/3/2020  ...        ตะวันออกเฉียงเหนือ        ตะวันออกเฉียงเหนือ

[1 rows x 16 columns]

In [102]:
data3= data1[data1['6 ภูมิภาค (ภูมิศาสตร์)']=='เหนือ']
data3.head(1)

       No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
54815   17     31/1/2020  ...                     เหนือ                     เหนือ

[1 rows x 16 columns]

In [103]:
data4= data1[data1['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันตก']
data4.head(1)

       No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
88494  779     24/3/2020  ...                     เหนือ                     เหนือ

[1 rows x 16 columns]

In [104]:
data5= data1[data1['6 ภูมิภาค (ภูมิศาสตร์)']=='กลาง']
data5.head(1)

       No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
99519  128     16/3/2020  ...                     เหนือ                     เหนือ

[1 rows x 16 columns]

In [105]:
data6= data1[data1['6 ภูมิภาค (ภูมิศาสตร์)']=='ตะวันออก']
data6.head(1)

        No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
629595  120     16/3/2020  ...                  ตะวันออก                  ตะวันออก

[1 rows x 16 columns]

In [106]:
data7= data1[data1['6 ภูมิภาค (ภูมิศาสตร์)']=='ใต้']
data7.head(1)

         No.  ... 5 ภูมิภาค (การท่องเที่ยว)
748220  1530  ...                       ใต้

[1 rows x 16 columns]

In [107]:
data8= data1[data1['4 ภูมิภาค (การเมือง)']=='ตะวันออกเฉียงเหนือ']
data8.head(1)

   No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
0  973     26/3/2020  ...        ตะวันออกเฉียงเหนือ        ตะวันออกเฉียงเหนือ

[1 rows x 16 columns]

In [108]:
data9= data1[data1['4 ภูมิภาค (การเมือง)']=='เหนือ']
data9.head(1)

       No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
54815   17     31/1/2020  ...                     เหนือ                     เหนือ

[1 rows x 16 columns]

In [109]:
data10= data1[data1['4 ภูมิภาค (การเมือง)']=='กลาง']
data10.head(1)

         No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
122318  5809    24/12/2020  ...                      กลาง                      กลาง

[1 rows x 16 columns]

In [110]:
data11= data1[data1['4 ภูมิภาค (การเมือง)']=='ใต้']
data11.head(1)

         No.  ... 5 ภูมิภาค (การท่องเที่ยว)
748220  1530  ...                       ใต้

[1 rows x 16 columns]

In [111]:
data12= data1[data1['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ตะวันออกเฉียงเหนือ']
data12.head(1)

   No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
0  973     26/3/2020  ...        ตะวันออกเฉียงเหนือ        ตะวันออกเฉียงเหนือ

[1 rows x 16 columns]

In [112]:
data13= data1[data1['6 ภูมิภาค (อุตุนิยมวิทยา)']=='เหนือ']
data13.head(1)

       No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
54815   17     31/1/2020  ...                     เหนือ                     เหนือ

[1 rows x 16 columns]

In [113]:
data14= data1[data1['6 ภูมิภาค (อุตุนิยมวิทยา)']=='กลาง']
data14.head(1)

        No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
114877  946     26/3/2020  ...                      กลาง                     เหนือ

[1 rows x 16 columns]

In [114]:
data15= data1[data1['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ตะวันออก']
data15.head(1)

        No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
625287  286     20/3/2020  ...                  ตะวันออก                      กลาง

[1 rows x 16 columns]

In [115]:
data16= data1[data1['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ใต้ฝั่งตะวันออก/ใต้ฝั่งอ่าวไทย']
data16.head(1)

        No.  ... 5 ภูมิภาค (การท่องเที่ยว)
730265  838  ...                      กลาง

[1 rows x 16 columns]

In [116]:
data17= data1[data1['6 ภูมิภาค (อุตุนิยมวิทยา)']=='ใต้ฝั่งตะวันตก/ใต้ฝั่งอันดามัน']
data17.head(1)

        No.  ... 5 ภูมิภาค (การท่องเที่ยว)
805135   24  ...                       ใต้

[1 rows x 16 columns]

In [117]:
data18= data1[data1['5 ภูมิภาค (การท่องเที่ยว)']=='ตะวันออกเฉียงเหนือ']
data18.head(1)

   No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
0  973     26/3/2020  ...        ตะวันออกเฉียงเหนือ        ตะวันออกเฉียงเหนือ

[1 rows x 16 columns]

In [118]:
data19= data1[data1['5 ภูมิภาค (การท่องเที่ยว)']=='เหนือ']
data19.head(1)

       No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
54815   17     31/1/2020  ...                     เหนือ                     เหนือ

[1 rows x 16 columns]

In [119]:
data20= data1[data1['5 ภูมิภาค (การท่องเที่ยว)']=='กลาง']
data20.head(1)

         No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
122318  5809    24/12/2020  ...                      กลาง                      กลาง

[1 rows x 16 columns]

In [120]:
data21= data1[data1['5 ภูมิภาค (การท่องเที่ยว)']=='ตะวันออก']
data21.head(1)

        No. announce_date  ... 6 ภูมิภาค (อุตุนิยมวิทยา) 5 ภูมิภาค (การท่องเที่ยว)
629595  120     16/3/2020  ...                  ตะวันออก                  ตะวันออก

[1 rows x 16 columns]

In [121]:
data22= data1[data1['5 ภูมิภาค (การท่องเที่ยว)']=='ใต้']
data22.head(1)

         No.  ... 5 ภูมิภาค (การท่องเที่ยว)
748220  1530  ...                       ใต้

[1 rows x 16 columns]

In [89]:
data_df1.groupby('province_of_onset').mean() ##ข้อ4

                             No.        age
province_of_onset
 กาญจนบุรี         763651.000000  29.000000
 ชลบุรี            763654.000000  23.000000
 ตราด              763585.000000  46.000000
 นครปฐม            763589.000000  29.000000
 สมุทรสงคราม       763602.843750  35.861219
...                          ...        ...
เวียงสา            392058.600000  35.677040
แพร่               367250.739198  34.387943
แม่ฮ่องสอน         162885.917283  34.002481
แล้วป่วย           627895.000000  43.000000
ไม่ระบุ            585796.424242  35.696970

[179 rows x 2 columns]