<a href="https://colab.research.google.com/github/BooEiEi/data_viz_2022/blob/main/Final_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# เตรียมข้อมูล

####Import data

In [1]:
import pandas as pd  # เรียกใช้คำว่า pd แทน pandas ได้
import os

In [2]:
from google.colab import drive  # pandas ใช้จัดการไฟล์ต่าง ๆ ที่เป็นตาราง เช่น excel .csv
drive.mount('/content/drive') # ถ้าไฟล์ใน gg drive ไม่หาย ก็จะยังสามารถรันข้อมูลได้
path = '/content/drive/My Drive/project_dataviz'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
data_covid1 = pd.read_csv(os.path.join(path, 'confirmed-cases.csv'))
data_covid2 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-120864.csv'))
data_covid3 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-271064.csv'))
data_covid4 = pd.read_csv(os.path.join(path, 'confirmed-cases-since-280265.csv'))

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: DtypeWarning: Columns (4) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

##confirmed-cases 1
ข้อมูล confirmed-cases ตั้งแต่วันแรก - 11/08/2021

In [4]:
data_covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,NaN,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
1,2,17/1/2020,NaN,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
2,3,22/1/2020,NaN,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,NaN,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
4,5,24/1/2020,NaN,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,NaN
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

###ตรวจสอบ Missing

In [5]:
data_covid1.isnull().any()

No.                      False
announce_date            False
Notified date             True
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [6]:
data_covid1_updated = data_covid1.fillna(value={'Notified date':'ไม่มีข้อมูล','sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  # เลข -99 คือการใสเลขที่ไม่ซ้ำจากอันเดิม  #ตัวแปรชื่อ value  #แทนค่า missing ด้วย 'ไม่รู้'
data_covid1_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล

In [7]:
data_covid1_updated.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                       True
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

###แทน age ด้วยค่า mean

In [8]:
data_covid_mean1 = data_covid1_updated.fillna(value={'age':data_covid1['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [9]:
data_covid_mean1.isnull().any()  #คอลัมน์ sex ไม่มี missing

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [10]:
data_covid_mean1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
816984,816985,11/8/2021,10/8/2021,หญิง,8.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816985,816986,11/8/2021,10/8/2021,ชาย,14.0,ปี,Thailand,สระแก้ว,อยู่ระหว่างการสอบสวน,สระแก้ว,ตาพระยา
816986,816987,11/8/2021,10/8/2021,ชาย,59.0,ปี,Thailand,สระแก้ว,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,สระแก้ว,อรัญประเทศ
816987,816988,11/8/2021,10/8/2021,หญิง,34.0,ปี,Thailand,สระแก้ว,อื่นๆ,กรุงเทพมหานคร,บางขุนเทียน
816988,816989,11/8/2021,10/8/2021,หญิง,19.0,ปี,Thailand,สระแก้ว,อื่นๆ,พระนครศรีอยุธยา,อุทัย

##confirmed-cases 2
ตั้งแต่วันที่ 12/08/2021 - วันที่ 25/10/2021

In [11]:
data_covid2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,NaN,NaN
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,NaN,เชียงใหม่,ทัณฑสถาน/เรือนจำ,NaN,NaN

###ตรวจสอบ Missing

In [12]:
data_covid2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                     False
province_of_onset         True
district_of_onset         True
dtype: bool

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [13]:
data_covid2_updated = data_covid2.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  # เลข -99 คือการใสเลขที่ไม่ซ้ำจากอันเดิม  #ตัวแปรชื่อ value  #แทนค่า missing ด้วย 'ไม่รู้'
data_covid2_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล

###แทน age ด้วยค่า mean

In [14]:
data_covid_mean2 = data_covid2_updated .fillna(value={'age':data_covid2['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [15]:
data_covid_mean2.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

In [16]:
data_covid_mean2

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,816990,12/8/2021,11/8/2021,ชาย,7.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
1,816991,12/8/2021,11/8/2021,ชาย,1.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
2,816992,12/8/2021,11/8/2021,ชาย,35.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
3,816993,12/8/2021,11/8/2021,หญิง,33.0,ปี,Thailand,เชียงราย,อื่นๆ,ไม่มีข้อมูล,ไม่มีข้อมูล
4,816994,12/8/2021,11/8/2021,หญิง,14.0,ปี,Thailand,เชียงราย,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ไม่มีข้อมูล,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

##confirmed-cases 3
ตั้งแต่วันที่ 26/10/2021 - วันที่ 27/02/2022

In [17]:
data_covid3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,NaN
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,NaN
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010455,2869613,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010456,2869614,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010457,2869615,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN
1010458,2869616,27/2/2022,26/2/2022,ชาย,NaN,NaN,NaN,ปัตตานี,ทัณฑสถาน/เรือนจำ,NaN,NaN,NaN

###ตรวจสอบ Missing

In [18]:
data_covid3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation     True
risk                      True
province_of_onset         True
district_of_onset         True
Unnamed: 11               True
dtype: bool

จะเห็นได้ว่า ข้อมูล data_covid3 ยังมีค่า Missing อยู่

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [19]:
data_covid3_updated = data_covid3.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','province_of_isolation':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล','Unnamed: 11':'ไม่มีข้อมูล'})  # เลข -99 คือการใสเลขที่ไม่ซ้ำจากอันเดิม  #ตัวแปรชื่อ value  #แทนค่า missing ด้วย 'ไม่รู้'
data_covid3_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล

###แทน age ด้วยค่า mean

In [20]:
data_covid_mean3 = data_covid3_updated.fillna(value={'age':data_covid1['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [21]:
data_covid_mean3.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
Unnamed: 11              False
dtype: bool

In [22]:
data_covid_mean3

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...,...
1010454,2869612,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010455,2869613,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010456,2869614,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010457,2869615,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล
1010458,2869616,27/2/2022,26/2/2022,ชาย,35.67704,ไม่มีข้อมูล,ไม่มีข้อมูล,ปัตตานี,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,ไม่มีข้อมูล

##confirmed-cases 4
ตั้งแต่วันที่ 26/10/2021 - วันที่ 27/02/2022

In [23]:
data_covid4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,NaN,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,NaN,NaN,NaN,สงขลา,ทัณฑสถาน/เรือนจำ,NaN,NaN

###ตรวจสอบ Missing

In [24]:
data_covid4.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                       True
age                       True
Unit                      True
nationality               True
province_of_isolation    False
risk                      True
province_of_onset         True
district_of_onset         True
dtype: bool

จะเห็นได้ว่า ข้อมูล data_covid2 ยังมีค่า Missing อยู่

###แทน missing ด้วยค่าที่เหมาะสม (fillna())

In [25]:
data_covid4_updated = data_covid4.fillna(value={'sex':'ไม่มีข้อมูล','Unit':'ไม่มีข้อมูล','nationality':'ไม่มีข้อมูล','risk':'ไม่มีข้อมูล','province_of_onset':'ไม่มีข้อมูล','district_of_onset':'ไม่มีข้อมูล'})  
data_covid4_updated.head()

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.0,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา

###แทน age ด้วยค่า mean

In [26]:
data_covid_mean4 = data_covid4_updated .fillna(value={'age':data_covid4['age'].mean()})  #เติม missing ด้วยค่าเฉลี่ย

In [27]:
data_covid_mean4.isnull().any()

No.                      False
announce_date            False
Notified date            False
sex                      False
age                      False
Unit                     False
nationality              False
province_of_isolation    False
risk                     False
province_of_onset        False
district_of_onset        False
dtype: bool

ข้อมูล data_covid3 ไม่มีค่า missing แล้ว

In [28]:
data_covid_mean4

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,2869617,28/2/2022,27/2/2022,ชาย,41.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
1,2869618,28/2/2022,27/2/2022,หญิง,45.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
2,2869619,28/2/2022,27/2/2022,หญิง,40.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
3,2869620,28/2/2022,27/2/2022,ชาย,44.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
4,2869621,28/2/2022,27/2/2022,ชาย,11.000000,ปี,Thailand,พะเยา,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,พะเยา,เมืองพะเยา
...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433549,3303166,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433550,3303167,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433551,3303168,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
433552,3303169,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

#รวมตาราง

###รวมตาราง data_covid1 และ data_covid2

In [29]:
covid = pd.concat([data_covid_mean1 ,data_covid_mean2])  #รวมตาราง
covid

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...
1042163,1859153,25/10/2021,24/10/2021,ชาย,45.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042164,1859154,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042165,1859155,25/10/2021,24/10/2021,ชาย,31.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042166,1859156,25/10/2021,24/10/2021,ชาย,24.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล
1042167,1859157,25/10/2021,24/10/2021,ชาย,25.0,ปี,ไม่มีข้อมูล,เชียงใหม่,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล

###รวมตาราง data_covid3 และ data_covid4

In [30]:
covid1 = pd.concat([data_covid_mean3 ,data_covid_mean4])  #รวมตาราง
covid1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1859158,26/10/2021,25/10/2021,ชาย,20.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
1,1859159,26/10/2021,25/10/2021,หญิง,42.0,ปี,Thailand,ลำปาง,อื่นๆ,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
2,1859160,26/10/2021,25/10/2021,หญิง,33.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
3,1859161,26/10/2021,25/10/2021,หญิง,52.0,ปี,Thailand,ลำปาง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ลำปาง,ห้างฉัตร,ไม่มีข้อมูล
4,1859162,26/10/2021,25/10/2021,หญิง,84.0,ปี,Thailand,ลำปาง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ลำปาง,เมืองลำปาง,ไม่มีข้อมูล
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

###รวมตาราง covid และ covid1

In [31]:
confirm = pd.concat([covid ,covid1])  #รวมตาราง
confirm

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11
0,1,12/1/2020,ไม่มีข้อมูล,หญิง,61.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
1,2,17/1/2020,ไม่มีข้อมูล,หญิง,74.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
2,3,22/1/2020,ไม่มีข้อมูล,หญิง,73.0,ปี,Thailand,นครปฐม,คนต่างชาติเดินทางมาจากต่างประเทศ,นครปฐม,เมือง,NaN
3,4,22/1/2020,ไม่มีข้อมูล,ชาย,68.0,ปี,China,กรุงเทพมหานคร,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
4,5,24/1/2020,ไม่มีข้อมูล,หญิง,66.0,ปี,China,นนทบุรี,คนต่างชาติเดินทางมาจากต่างประเทศ,กรุงเทพมหานคร,ไม่มีข้อมูล,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
433548,3303165,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433549,3303166,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433550,3303167,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433551,3303168,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN
433552,3303169,18/3/2022,17/3/2022,หญิง,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,สงขลา,ทัณฑสถาน/เรือนจำ,ไม่มีข้อมูล,ไม่มีข้อมูล,NaN

#แก้ไข้ชื่อจังหวัดใน column province_of_onset

In [32]:
set(confirm['province_of_onset'])

{'\tประจวบคีรีขันธ์',
 'USA',
 '\xa0กาญจนบุรี',
 '\xa0ชลบุรี',
 '\xa0ตราด',
 '\xa0นครปฐม',
 '\xa0สมุทรสงคราม',
 '\xa0สมุทรสาคร',
 '\xa0อุทัยธานี',
 'กทม',
 'กทม.',
 'กบินทร์บุรี',
 'กระบี่',
 'กระบี่ี่',
 'กรุงเทพ',
 'กรุงเทพมหานคร',
 'กรุงเทพมหานคร.',
 'กรุงเทพมหานคร. / พระนครศรีอยุธยา',
 'กรุงเทพมหานคร. / ศรีสะเกษ',
 'กรุงเทพฯ',
 'กะทู้',
 'กัมพูชา',
 'กาญจนบุรี',
 'กาญจบุรี',
 'กาญนบุรี',
 'กาฬสิน',
 'กาฬสินธิ์',
 'กาฬสินธุ์',
 'กาฬสินธุ์\xa0',
 'กาฬสินธ์',
 'กำเพงเพชร',
 'กำแพง',
 'กำแพงเพชร',
 'กำแพงเพชร\xa0',
 'กําแพงเพชร',
 'ขอนแก่น',
 'ขอนแก่น\xa0',
 'ขอนแก่่น',
 'ขัยนาท',
 'ขัยภูมิ',
 'ขานุวรลักษณ์บุรี',
 'คนไทยเดินทางกลับจากต่างประเทศ',
 'คลองเตย',
 'จ.กรุงเทพมหานคร',
 'จ.ภูเก็ต',
 'จ.ราชบุรี',
 'จ.สุราษฎร์ธานี',
 'จังหวัดสมุทรสาคร',
 'จันทบุรี',
 'ฉะเชองเทราร',
 'ฉะเชิงเทรา',
 'ชมพร',
 'ชลบุรี',
 'ชลบุรี\t',
 'ชลบุรี\xa0',
 'ชลบุุรี',
 'ชอนแก่น',
 'ชัยนาถ',
 'ชัยนาท',
 'ชัยบาดาล',
 'ชัยภูมิ',
 'ชัยภูมิ\xa0',
 'ชุมพร',
 'ชุุมพร',
 'ชุุุมพร',
 'ดอนมดแดง',
 'ดินแดง',
 'ตรัง',
 'ตรััง',
 'ตราด',
 'ตราด\xa0',
 'ตาก',
 'ตากใบ',
 'ต่างจังหวัด',
 'ทุ่งเสลี่ยม',
 'ท้ายบ้าน',
 'ธารโต',
 'นคนปฐม',
 'นคปฐม',
 'นครนปฐม',
 'นครนาชสีมา',
 'นครนายก',
 'นครปฐม',
 'นครปฐม\xa0',
 'นครปบม',
 'นครพนม',
 'นครพนม\xa0',
 'นครยายก',
 'นครราขสีมา',
 'นครราชธานี',
 'นครราชศรีมา',
 'นครราชสสีมา',
 'นครราชสีมา',
 'นครราชสีมา ลพบุรี',
 'นครราชสีมา\xa0',
 'นครศรธรรมราช',
 'นครศรี',
 'นครศรีธรมมราช',
 'นครศรีธรมราช',
 'นครศรีธรรมราข',
 'นครศรีธรรมราช',
 'นครศรีฯ',
 'นครศรีีธรรมราช',
 'นครศร๊ธรรมราช',
 'นครศร๊ะรรมราช',
 'นครสรรค์',
 'นครสรีธรรมราช',
 'นครสวรรค',
 'นครสวรรค์',
 'นครสวรรค์\xa0',
 'นครสีธรรมราช',
 'นครฯ',
 'นคราชสีมา',
 'นครีศรีธรรมราช',
 'นตรนายก',
 'นตรปฐม',
 'นนทบุรี',
 'นนทบุรี\xa0',
 'นนทบุุรี',
 'นนทุบรี',
 'นนทุรี',
 'นนมบุรี',
 'นรศรีธรรมราช',
 'นราธิวาส',
 'นราธิวาส\u200b',
 'นราธฺวาส',
 'นอกเขต',
 'นาราธิวาส',
 'นาวัง',
 'น่าน',
 'น่าน/ฉะเชิงเทรา',
 'บางกรวย',
 'บางกะปิ',
 'บางนา',
 'บางปะอิน',
 'บางละมุง',
 'บางศรีเมือง',
 'บางเพียง',
 'บึงกาฬ',
 'บึงโขงหลง',
 'บุรีรัมภ์',
 'บุรีรัมย์',
 'บุรีรัมย์\xa0',
 'บุรีรัยม์',
 'บุรีรีมย์',
 'บ้านหลวง',
 'ปจ',
 'ปทึมธานี',
 'ปทุทธานี',
 'ปทุมฑานี',
 'ปทุมทานี',
 'ปทุมธาน',
 'ปทุมธานี',
 'ปทุมธานี.',
 'ปทุมธานี\xa0',
 'ปทุมธานีี',
 'ปทุมาธานี',
 'ปทุุมธานี',
 'ปธุมธานี',
 'ปมุมธานี',
 'ประจวนคีรีขันธ็',
 'ประจวบ',
 'ประจวบคิรีขันธ์',
 'ประจวบคีรขันธ์',
 'ประจวบคีรขัันธ์',
 'ประจวบคีรีขัน',
 'ประจวบคีรีขันธื',
 'ประจวบคีรีขันธฺ',
 'ประจวบคีรีขันธ์',
 'ประจวบคีรีขันธ์\xa0',
 'ประจวบคีรีขันธ์์',
 'ประจวบคีรีขัันธ์',
 'ประจวบคีีรีขันธ์',
 'ประจวบฯ',
 'ประทุมธานี',
 'ประเทศกัมพูชา',
 'ปราจีนบุรี',
 'ปราจีบุรี',
 'ปลวกแดง',
 'ปลายพระยา',
 'ปอยเปต',
 'ปัตตนรี',
 'ปัตตานนี',
 'ปัตตานี',
 'ปัตตานีี',
 'ปัว',
 'ปััตตานี',
 'ปุทมธานี',
 'ป่าโมก',
 'พม่า',
 'พรหมพิราม',
 'พระนครศรียุธยา',
 'พระนครศรีอยุทธยา',
 'พระนครศรีอยุทยา',
 'พระนครศรีอยุธยา',
 'พระนครศรีอยุธยา\xa0',
 'พะเยา',
 'พังงา',
 'พัทยา',
 'พัทลุง',
 'พัทลุุง',
 'พัังงา',
 'พิจิตร',
 'พิษณุโลก',
 'พิษณุโลก\xa0',
 'พิษณูโลก',
 'ฟินแลนด์',
 'ภาษีเจริญ',
 'ภุเก็ต',
 'ภูุเก็ต',
 'ภููเก็ต',
 'ภูเก็ต',
 'ภูเก็็ต',
 'ภูเพียง',
 'มหาสาคาม',
 'มหาสารคาม',
 'มาเลเซีย',
 'มุกดาหาร',
 'มุกาดหาร',
 'ยะลา',
 'ยานนาวา',
 'ยโสธร',
 'ร.จ.จ.นราธิวาส',
 'รอ',
 'ระนอง',
 'ระบุ',
 'ระยอง',
 'ระยอง\xa0',
 'ระอยง',
 'ราชบบุรี',
 'ราชบุรี',
 'ราชบุรีี',
 'ราชบุรี\u200b',
 'ราชุรี',
 'ราชเทวี',
 'ร้องกวาง',
 'ร้อยเอ็ด',
 'ลบุรี',
 'ลพบุรี',
 'ลพบุรี.',
 'ลพบุรี\xa0',
 'ลอง',
 'ลาดกระบัง',
 'ลาดพร้าว',
 'ลาว',
 'ลำปาง',
 'ลำพูน',
 'ลำพูน\u200b',
 'ลำพููน',
 'ลำลูกกา',
 'วังชิ้น',
 'วังทอง',
 'วิเศษชัยชาญ',
 'ศรีษะสะเกษ',
 'ศรีษะเกษ',
 'ศรีสระเกษ',
 'ศรีสะเกษ',
 'ศีรสะเกษ',
 'สกลนคร',
 'สครสวรรค์',
 'สงขลา',
 'สงขลา\u200b',
 'สตูล',
 'สถานที่ทำงาน',
 'สพรรณบุรี',
 'สมถทรปราการ',
 'สมทรสงคราม',
 'สมทรสาคร',
 'สมุครปราการ',
 'สมุครสาคร',
 'สมุท',
 'สมุทปราการ',
 'สมุทรปรากร',
 'สมุทรปรากรร',
 'สมุทรปรากา',
 'สมุทรปราการ',
 'สมุทรปราการ\xa0',
 'สมุทรศาคร',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สมุทรสาคร\xa0',
 'สมุทรสาคา',
 'สมุทรสาคาร',
 'สมุทรสาทร',
 'สมุทรสารคร',
 'สมุทราปราการ',
 'สมุทราสาคร',
 'สมุทสงคราม',
 'สมุทสาคร',
 'สมุย',
 'สมุุทรปราการ',
 'สมุุทรสงคราม',
 'สมุุทรสาคร',
 'สระก้ว',
 'สระบุรี',
 'สระบุรี\xa0',
 'สระแก้ว',
 'สรินทร์',
 'สวิสเซอร์แลนด์',
 'สอง',
 'สองแคว',
 'สะพานสูง',
 'สะแก้ว',
 'สัตหีบ',
 'สัมผัสผู้ป่วยยืนยัน COVID20',
 'สามุทรสาคร',
 'สารคาม',
 'สารภี',
 'สิงห์บุรี',
 'สิงห์บุรี\xa0',
 'สุทรปราการ',
 'สุพรรญบุรี',
 'สุพรรณบุรั',
 'สุพรรณบุรี',
 'สุพรรณบุรี\xa0',
 'สุมทรปราการ',
 'สุมทรสาคร',
 'สุมุทรปราการ',
 'สุมุทรสาคร',
 'สุระบุรี',
 'สุราษ',
 'สุราษฎณ์ธานี',
 'สุราษฎธานี',
 'สุราษฎร์',
 'สุราษฎร์ธานี',
 'สุราษฎร์ฯ',
 'สุราษฎร์์ธานี',
 'สุราษฎ์ธานี',
 'สุราษฏร์ธานี',
 'สุราษธานี',
 'สุราษร์ฎธานี',
 'สุราษร์ธานี',
 'สุราษฯ',
 'สุรินทรื',
 'สุรินทร์',
 'สุรินทร์ 32150',
 'สุรินทร์,รีสะเกษ',
 'สุรินทร์\xa0',
 'สุริมทร์',
 'สุริะแก้ว',
 'สุวรรณภูมิ',
 'สุุพรรณบุรี',
 'สุุราษฎร์ธานี',
 'สุุราษฏร์ธานี',
 'สุุราษฯ',
 'สุุรินทร์',
 'สุุุโขทัย',
 'สุโขทับ',
 'สุโขทัย',
 'สุโขทัย\xa0',
 'สูงเม่น',
 'หนวงบัวลำภู',
 'หนองคาย',
 'หนองงคาย',
 'หนองบัวภู',
 'หนองบัวลำพูน',
 'หนองบัวลำภู',
 'หนองบัวลําภู',
 'หนองบััวลำภู',
 'หนองม่วงไข่',
 'หนอบัวลำภู',
 'หลายจังหวัด',
 'หัวหิน',
 'ห้วยขวาง',
 'อยุทธยา',
 'อยุธยา',
 'อยุุธยา',
 'อำนาจเจริญ',
 'อำนาจเจิญ',
 'อำนาญเจริญ',
 'อำนาเจริญ',
 'อิสราเอล',
 'อุดธานี',
 'อุดร',
 'อุดรธาณี',
 'อุดรธานี',
 'อุดรธานี\xa0',
 'อุดรธานีี',
 'อุดรราชธานี',
 'อุตรดิตถ์',
 'อุตรดิตถ์\xa0',
 'อุตรดิตถ์์',
 'อุตรดิษถ์',
 'อุตรดิิตถ์',
 'อุตรติดถ์',
 'อุทัยธานี',
 'อุทัยานี',
 'อุบลราขธานี',
 'อุบลราชธานี',
 'อุบลราชธานี\xa0',
 'อุุครดิตถ์',
 'อุุดรธาน',
 'อุุดรธานี',
 'อุุตรดิตถ์',
 'อุุทัยธานี',
 'อุุบลราชธานี',
 'อ่งทอง',
 'อ่างทอง',
 'อ่างทอง\xa0',
 'อํานาจเจริญ',
 'เชิงเทรา',
 'เชียงราย',
 'เชียงใหม่',
 'เชียรใหญ่',
 'เชีียงราย',
 'เชีียงใหม่',
 'เด่นชัย',
 'เพขรบุรี',
 'เพขรบูรณื',
 'เพขรบูรณ์',
 'เพชรบุรณ์',
 'เพชรบุรี',
 'เพชรบุรึ',
 'เพชรบุุรี',
 'เพชรบุูรณ์',
 'เพชรบูรณ์',
 'เพชรบูรณ์\xa0',
 'เพชรบูร์',
 'เพชรบููรณ์',
 'เมือง',
 'เมืองตาก',
 'เมืองน่าน',
 'เมืองปัตตานี',
 'เรือ',
 'เลย',
 'เลย\xa0',
 'เวียงจันทร์',
 'เวียงสา',
 'แพร่',
 'แม่ทะ',
 'แม่ฮ่องสอน',
 'แล้วป่วย',
 'โพธิ์ทอง',
 'ไชโย',
 'ไม่มีข้อมูล',
 'ไม่มีชื่อหอพัก',
 'ไม่ระบุ'}

In [33]:
confirm['province_of_onset'].replace({'USA':'ไม่มีข้อมูล','\tประจวบคีรีขันธ์':'ประจวบคีรีขันธ์','\xa0กาญจนบุรี':'กาญจนบุรี','\xa0ชลบุรี':'ชลบุรี','\xa0ตราด':'ตราด','\xa0นครปฐม':'นครปฐม',
                                         '\xa0สมุทรสงคราม':'สมุทรสงคราม','\xa0สมุทรสาคร':'สมุทรสาคร','\xa0อุทัยธานี':'อุทัยธานี','กทม':'กรุงเทพมหานคร','กทม.':'กรุงเทพมหานคร','กบินทร์บุรี':'ปราจีนบุรี','กระบี่ี่':'กระบี่','กรุงเทพ':'กรุงเทพมหานคร',
                                         'กรุงเทพมหานคร.':'กรุงเทพมหานคร','กรุงเทพมหานคร. / พระนครศรีอยุธยา':'กรุงเทพมหานคร','กรุงเทพมหานคร. / ศรีสะเกษ':'กรุงเทพมหานคร','กรุงเทพฯ':'กรุงเทพมหานคร','กะทู้':'ภูเก็ต',
                                         'กัมพูชา':'ไม่มีข้อมูล','กาญจบุรี':'กาญจนบุรี','กาญนบุรี':'กาญจนบุรี','กาฬสิน':'กาฬสินธุ์','กาฬสินธิ์':'กาฬสินธุ์','กาฬสินธุ์\xa0':'กาฬสินธุ์','กาฬสินธ์':'กาฬสินธุ์',
                                         'กำเพงเพชร':'กำแพงเพชร','กำแพง':'กำแพงเพชร','กำแพงเพชร':'กำแพงเพชร','กำแพงเพชร\xa0':'กำแพงเพชร','กําแพงเพชร':'กำแพงเพชร',
                                         'ขอนแก่น\xa0':'ขอนแก่น','ขอนแก่่น':'ขอนแก่น','ขานุวรลักษณ์บุรี':'กำแพงเพชร','คนไทยเดินทางกลับจากต่างประเทศ':'ไม่มีข้อมูล','คลองเตย':'กรุงเทพมหานคร','จ.กรุงเทพมหานคร':'กรุงเทพมหานคร',
                                         'จ.ภูเก็ต':'ภูเก็ต','จ.ราชบุรี':'ราชบุรี','จ.สุราษฎร์ธานี':'สุราษฎร์ธานี','จังหวัดสมุทรสาคร':'สมุทรสาคร','ฉะเชองเทราร':'ฉะเชิงเทรา','ชมพร':'ชุมพร',
                                         'ชลบุรี\t':'ชลบุรี','ชลบุรี\xa0':'ชลบุรี','ชลบุุรี':'ชลบุรี','ชอนแก่น':'ขอนแก่น','ชัยนาถ':'ชัยนาท','ชัยบาดาล':'ลพบุรี','ชัยภูมิ\xa0':'ชัยภูมิ','ชุุมพร':'ชุมพร','ชุุุมพร':'ชุมพร',
                                         'ดอนมดแดง':'อุบลราชธานี','ดินแดง':'กรุงเทพมหานคร','ตรััง':'ตรัง','ตราด\xa0':'ตราด','ตากใบ':'นราธิวาส','ต่างจังหวัด':'ไม่มีข้อมูล','ทุ่งเสลี่ยม':'สุโขทัย',
                                         'ท้ายบ้าน':'สมุทรปราการ','ธารโต':'ยะลา','นคนปฐม':'นครปฐม','นคปฐม':'นครปฐม','นครนปฐม':'นครปฐม','นครนาชสีมา':'นครราชสีมา','นครปฐม\xa0':'นครปฐม',
                                         'นครปบม':'นครปฐม','นครพนม\xa0':'นครพนม','นครยายก':'นครนายก','นครราขสีมา':'นครราชสีมา','นครราชธานี':'นครราชสีมา','นครราชศรีมา':'นครราชสีมา','นครราชสสีมา':'นครราชสีมา',
                                         'นครราชสีมา ลพบุรี':'นครราชสีมา','นครราชสีมา\xa0':'นครราชสีมา','นครศรธรรมราช':'นครศรีธรรมราช','นครศรี':'นครศรีธรรมราช','นครศรีธรมมราช':'นครศรีธรรมราช',
                                         'นครศรีธรมราช':'นครศรีธรรมราช','นครศรีธรรมราข':'นครศรีธรรมราช','นครศรีฯ':'นครศรีธรรมราช','นครศรีีธรรมราช':'นครศรีธรรมราช','นครศร๊ธรรมราช':'นครศรีธรรมราช',
                                         'นครศร๊ะรรมราช':'นครศรีธรรมราช','นครสรรค์':'นครสวรรค์','นครสรีธรรมราช':'นครศรีธรรมราช','นครสวรรค':'นครสวรรค์','นครสวรรค์\xa0':'นครสวรรค์','นครสีธรรมราช':'นครศรีธรรมราช',
                                         'นครฯ':'นครศรีธรรมราช','นคราชสีมา':'นครราชสีมา','นครีศรีธรรมราช':'นครศรีธรรมราช','นตรนายก':'นครนายก','นตรปฐม':'นครปฐม','นนทบุรี\xa0':'นนทบุรี',
                                         'นนทบุุรี':'นนทบุรี','นนทุบรี':'นนทบุรี','นนทุรี':'นนทบุรี','นนมบุรี':'นนทบุรี','นรศรีธรรมราช':'นครศรีธรรมราช','นราธิวาส\u200b':'นราธิวาส','นราธฺวาส':'นราธิวาส','นอกเขต':'ไม่มีข้อมูล',
                                         'นาราธิวาส':'นราธิวาส','นาวัง':'หนองบัวลำภู','น่าน/ฉะเชิงเทรา':'น่าน','บางกรวย':'นนทบุรี','บางกะปิ':'กรุงเทพมหานคร','บางนา':'กรุงเทพมหานคร','บางปะอิน':'กรุงเทพมหานคร',
                                         'บางละมุง':'ชลบุรี','บางศรีเมือง':'นนทบุรี','บางเพียง':'สมุทรปราการ','บึงโขงหลง':'บึงกาฬ','บุรีรัมภ์':'บุรีรัมย์','บุรีรัมย์\xa0':'บุรีรัมย์','บุรีรัยม์':'บุรีรัมย์','บุรีรีมย์':'บุรีรัมย์',
                                         'บ้านหลวง':'น่าน','ปจ':'ไม่มีข้อมูล','ปทึมธานี':'ปทุมธานี','ปทุทธานี':'ปทุมธานี','ปทุมฑานี':'ปทุมธานี','ปทุมทานี':'ปทุมธานี','ปทุมธาน':'ปทุมธานี','ปทุมธานี\xa0':'ปทุมธานี','ปทุมาธานี':'ปทุมธานี',
                                         'ปธุมธานี':'ปทุมธานี','ปทุมธานี.':'ปทุมธานี','ปทุมธานีี':'ปทุมธานี','ปทุุมธานี':'ปทุมธานี','ปมุมธานี':'ปทุมธานี',
                                         'ประจวนคีรีขันธ็':'ประจวบคีรีขันธ์','ประจวบ':'ประจวบคีรีขันธ์','ประจวบคิรีขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขันธ์':'ประจวบคีรีขันธ์','ประจวบคีรขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีรีขัน':'ประจวบคีรีขันธ์',
                                         'ประจวบคีรีขันธื':'ประจวบคีรีขันธ์','ประจวบคีรีขันธฺ':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์\xa0':'ประจวบคีรีขันธ์','ประจวบคีรีขันธ์์':'ประจวบคีรีขันธ์','ประจวบคีรีขัันธ์':'ประจวบคีรีขันธ์','ประจวบคีีรีขันธ์':'ประจวบคีรีขันธ์',
                                         'ประจวบฯ':'ประจวบคีรีขันธ์','ประทุมธานี':'ปทุมธานี', 'ประเทศกัมพูชา':'ไม่มีข้อมูล','ปราจีบุรี':'ปราจีนบุรี','ปลวกแดง':'ระยอง','ปลายพระยา':'กระบี่', 'ปอยเปต':'ไม่มีข้อมูล','ปัตตนรี':'ปัตตานี',
                                         'ปัตตานนี':'ปัตตานี','ปัตตานีี':'ปัตตานี','ปัว':'น่าน','ปััตตานี':'ปัตตานี','ปุทมธานี':'ปทุมธานี','ป่าโมก':'อ่างทอง','พม่า':'ไม่มีข้อมูล','พรหมพิราม':'พิษณุโลก','พระนครศรียุธยา':'พระนครศรีอยุธยา',
                                         'พระนครศรีอยุทธยา':'พระนครศรีอยุธยา','พระนครศรีอยุทยา':'พระนครศรีอยุธยา','พระนครศรีอยุธยา\xa0':'พระนครศรีอยุธยา','พัทยา':'ชลบุรี','พัทลุุง':'พัทลุง','พัังงา':'พังงา',
                                         'พิษณุโลก\xa0':'พิษณุโลก','พิษณูโลก':'พิษณุโลก','ฟินแลนด์':'ไม่มีข้อมูล','ภาษีเจริญ':'กรุงเทพมหานคร','ภุเก็ต':'ภูเก็ต','ภูุเก็ต':'ภูเก็ต','ภููเก็ต':'ภูเก็ต','ภูเก็็ต':'ภูเก็ต','ภูเพียง':'น่าน',
                                         'มหาสาคาม':'มหาสารคาม','มาเลเซีย':'ไม่มีข้อมูล','มุกาดหาร':'มุกดาหาร','ยานนาวา':'กรุงเทพมหานคร','ร.จ.จ.นราธิวาส':'นราธิวาส','รอ':'ร้อยเอ็ด','ระบุ':'ไม่มีข้อมูล','ระยอง\xa0':'ระยอง',
                                         'ระอยง':'ระยอง','ราชบบุรี':'ราชบุรี','ราชบุรีี':'ราชบุรี','ราชบุรี\u200b':'ราชบุรี','ราชุรี':'ราชบุรี','ราชเทวี':'กรุงเทพมหานคร','ร้องกวาง':'แพร่','ลบุรี':'ลพบุรี','ลพบุรี.':'ลพบุรี','ลพบุรี\xa0':'ลพบุรี','ลอง':'แพร่',
                                         'ลาดกระบัง':'กรุงเทพมหานคร','ลาดพร้าว':'กรุงเทพมหานคร','ลาว':'ไม่มีข้อมูล','ลำพูน\u200b':'ลำพูน','ลำพููน':'ลำพูน','ลำลูกกา':'ปทุมธานี','วังชิ้น':'ลำปาง','วังทอง':'พิษณุโลก',
                                         'วิเศษชัยชาญ':'อ่างทอง','ศรีษะสะเกษ':'ศรีสะเกษ','ศรีษะเกษ':'ศรีสะเกษ','ศรีสระเกษ':'ศรีสะเกษ','ศีรสะเกษ':'ศรีสะเกษ','สครสวรรค์':'นครสวรรค์',
                                         'สงขลา\u200b':'สงขลา','สถานที่ทำงาน':'ไม่มีข้อมูล','สพรรณบุรี':'สุพรรณบุรี','สมถทรปราการ':'สมุทรปราการ','สมทรสงคราม':'สมุทรสงคราม','สมทรสาคร':'สมุทรสาคร','สมุครปราการ':'สมุทรปราการ',
                                         'สมุครสาคร':'สมุทรสาคร','สมุท':'ไม่มีข้อมูล','สมุทปราการ':'สมุทรปราการ','สมุทรปรากร':'สมุทรปราการ','สมุทรปรากรร':'สมุทรปราการ','สมุทรปราการ\xa0':'สมุทรปราการ','สมุทรศาคร':'สมุทรสาคร',
                                         'สมุทรสาคร\xa0':'สมุทรสาคร','สมุทรสาคา':'สมุทรสาคร','สมุทรสาคาร':'สมุทรสาคร','สมุทรสาทร':'สมุทรสาคร','สมุทรสารคร':'สมุทรสาคร','สมุทราปราการ':'สมุทรปราการ',
                                         'สมุทราสาคร':'สมุทรสาคร','สมุทสงคราม':'สมุทรสงคราม','สมุทสาคร':'สมุทรสาคร','สมุย':'สุราษฎร์ธานี','สมุุทรปราการ':'สมุทรปราการ','สมุุทรสงคราม':'สมุทรสงคราม','สมุุทรสาคร':'สมุทรสาคร',
                                         'สระก้ว':'สระแก้ว','สระบุรี\xa0':'สระบุรี','สรินทร์':'สุรินทร์','สวิสเซอร์แลนด์':'ไม่มีข้อมูล','สอง':'แพร่','สองแคว':'น่าน','สะพานสูง':'กรุงเทพมหานคร',
                                         'สะแก้ว':'สระแก้ว','สัตหีบ':'ชลบุรี','สัมผัสผู้ป่วยยืนยัน COVID20':'ไม่มีข้อมูล','สามุทรสาคร':'สมุทรสาคร','สารคาม':'มหาสารคาม','สารภี':'เชียงใหม่','สิงห์บุรี\xa0':'สิงห์บุรี',
                                         'สุทรปราการ':'สมุทรปราการ','สุพรรญบุรี':'สุพรรณบุรี','สุพรรณบุรั':'สุพรรณบุรี','สุพรรณบุรี\xa0':'สุพรรณบุรี','สุมทรปราการ':'สมุทรปราการ',
                                         'สุมทรสาคร':'สมุทรสาคร','สุมุทรปราการ':'สมุทรปราการ','สุมุทรสาคร':'สมุทรสาคร','สุระบุรี':'สระบุรี','สุราษ':'สุราษฎร์ธานี','สุราษฎณ์ธานี':'สุราษฎร์ธานี','สุราษฎธานี':'สุราษฎร์ธานี',
                                         'สุราษฎร์':'สุราษฎร์ธานี','สุราษฎร์ฯ':'สุราษฎร์ธานี','สุราษฎร์์ธานี':'สุราษฎร์ธานี','สุราษฎ์ธานี':'สุราษฎร์ธานี','สุราษฏร์ธานี':'สุราษฎร์ธานี','สุราษธานี':'สุราษฎร์ธานี',
                                         'สุราษร์ฎธานี':'สุราษฎร์ธานี','สุราษร์ธานี':'สุราษฎร์ธานี','สุราษฯ':'สุราษฎร์ธานี','สุรินทรื':'สุรินทร์','สุรินทร์ 32150':'สุรินทร์','สุรินทร์,รีสะเกษ':'สุรินทร์','สุรินทร์\xa0':'สุรินทร์','สุริมทร์':'สุรินทร์',
                                         'สุริะแก้ว':'สระแก้ว','สุวรรณภูมิ':'สมุทรปราการ','สุุพรรณบุรี':'สุพรรณบุรี','สุุราษฎร์ธานี':'สุราษฎร์ธานี','สุุราษฏร์ธานี':'สุราษฎร์ธนี','สุุราษฯ':'สุราษฎร์ธนี','สุุรินทร์':'สุรินทร์',
                                         'สุุุโขทัย':'สุโขทัย','สุโขทับ':'สุโขทัย','สุโขทัย\xa0':'สุโขทัย','สูงเม่น':'แพร่','หนวงบัวลำภู':'หนองบัวลำภู','หนองงคาย':'หนองคาย','หนองบัวภู':'หนองบัวลำภู',
                                         'หนองบัวลำพูน':'หนองบัวลำภู','หนองบัวลําภู':'หนองบัวลำภู','หนองบััวลำภู':'หนองบัวลำภู','หนองม่วงไข่':'แพร่','หนอบัวลำภู':'หนองบัวลำภู','หลายจังหวัด':'ไม่มีข้อมูล','หัวหิน':'ประจวบคีรีขันธ์',
                                         'ห้วยขวาง':'กรุงเทพมหานคร','อยุทธยา':'พระนครศรีอยุธยา','อยุธยา':'พระนครศรีอยุธยา','อยุุธยา':'พระนครศรีอยุธยา','อำนาจเจิญ':'อำนาจเจริญ','อำนาญเจริญ':'อำนาจเจริญ','อำนาเจริญ':'อำนาจเจริญ',
                                         'อิสราเอล':'ไม่มีข้อมูล','อุดธานี':'อุดรธานี','อุดร':'อุดรธานี','อุดรธาณี':'อุดรธานี','อุดรธานี\xa0':'อุดรธานี','อุดรธานีี':'อุดรธานี','อุดรราชธานี':'อุดรธานี','อุตรดิตถ์\xa0':'อุตรดิตถ์',
                                         'อุตรดิตถ์์':'อุตรดิตถ์','อุตรดิษถ์':'อุตรดิตถ์','อุตรดิิตถ์':'อุตรดิตถ์','อุตรติดถ์':'อุตรดิตถ์','อุบลราขธานี':'อุบลราชธานี','อุบลราชธานี\xa0':'อุบลราชธานี','อุุครดิตถ์':'อุตรดิตถ์',
                                         'อุุดรธาน':'อุดรธานี','อุุดรธานี':'อุดรธานี','อุุตรดิตถ์':'อุตรดิตถ์','อุุทัยธานี':'อุทัยธานี','อุุบลราชธานี':'อุบลราชธานี','อ่งทอง':'อ่างทอง','อ่างทอง\xa0':'อ่างทอง','อํานาจเจริญ':'อำนาจเจริญ',
                                         'เชิงเทรา':'ฉะเชิงเทรา','เชียรใหญ่':'นครศรีธรรมราช','เชีียงราย':'เชียงราย','เชีียงใหม่':'เชียงใหม่','เด่นชัย':'แพร่','ขัยนาท':'ชัยนาท','อุทัยานี':'อุทัยธานี',
                                         'เพขรบุรี':'เพชรบูรณ์','เพขรบูรณื':'เพชรบูรณ์','เพขรบูรณ์':'เพชรบูรณ์','เพชรบุรณ์':'เพชรบูรณ์','เพชรบุรี':'เพชรบูรณ์','เพชรบุรึ':'เพชรบูรณ์','เพชรบุุรี':'เพชรบูรณ์','เพชรบุูรณ์':'เพชรบูรณ์','เพชรบูรณ์\xa0':'เพชรบูรณ์',
                                         'เพชรบูร์':'เพชรบูรณ์','เพชรบููรณ์':'เพชรบูรณ์','เมือง':'แพร่','เมืองตาก':'ตาก','เมืองน่าน':'น่าน','เมืองปัตตานี':'ปัตตานี','เรือ':'เลย','เลย\xa0':'เลย','เวียงจันทร์':'ไม่มีข้อมูล','เวียงสา':'น่าน','แม่ทะ':'ลำปาง',
                                         'แล้วป่วย':'ไม่มีข้อมูล','โพธิ์ทอง':'อ่างทอง','ไชโย':'อ่างทอง','ไม่มีข้อมูล':'ไม่มีข้อมูล','ไม่มีชื่อหอพัก':'ไม่มีข้อมูล','ไม่ระบุ':'ไม่มีข้อมูล','สมุทรปรากา':'สมุทรปราการ','สุราษฎร์ธนี':'สุราษฎร์ธานี','สุราษฎร์ธนี':'สุราษฎร์ธานี','ขัยภูมิ':'ชัยภูมิ'}, inplace=True)# แก้ไขข้อมูลที่พิมพ์จังหวัดผิด ให้อยู่ในชื่อจังหวัดที่ถูกต้อง

In [34]:
set(confirm['province_of_onset'])

{'กระบี่',
 'กรุงเทพมหานคร',
 'กาญจนบุรี',
 'กาฬสินธุ์',
 'กำแพงเพชร',
 'ขอนแก่น',
 'จันทบุรี',
 'ฉะเชิงเทรา',
 'ชลบุรี',
 'ชัยนาท',
 'ชัยภูมิ',
 'ชุมพร',
 'ตรัง',
 'ตราด',
 'ตาก',
 'นครนายก',
 'นครปฐม',
 'นครพนม',
 'นครราชสีมา',
 'นครศรีธรรมราช',
 'นครสวรรค์',
 'นนทบุรี',
 'นราธิวาส',
 'น่าน',
 'บึงกาฬ',
 'บุรีรัมย์',
 'ปทุมธานี',
 'ประจวบคีรีขันธ์',
 'ปราจีนบุรี',
 'ปัตตานี',
 'พระนครศรีอยุธยา',
 'พะเยา',
 'พังงา',
 'พัทลุง',
 'พิจิตร',
 'พิษณุโลก',
 'ภูเก็ต',
 'มหาสารคาม',
 'มุกดาหาร',
 'ยะลา',
 'ยโสธร',
 'ระนอง',
 'ระยอง',
 'ราชบุรี',
 'ร้อยเอ็ด',
 'ลพบุรี',
 'ลำปาง',
 'ลำพูน',
 'ศรีสะเกษ',
 'สกลนคร',
 'สงขลา',
 'สตูล',
 'สมุทรปราการ',
 'สมุทรสงคราม',
 'สมุทรสาคร',
 'สระบุรี',
 'สระแก้ว',
 'สิงห์บุรี',
 'สุพรรณบุรี',
 'สุราษฎร์ธนี',
 'สุราษฎร์ธานี',
 'สุรินทร์',
 'สุโขทัย',
 'หนองคาย',
 'หนองบัวลำภู',
 'อำนาจเจริญ',
 'อุดรธานี',
 'อุตรดิตถ์',
 'อุทัยธานี',
 'อุบลราชธานี',
 'อ่างทอง',
 'เชียงราย',
 'เชียงใหม่',
 'เพชรบูรณ์',
 'เลย',
 'แพร่',
 'แม่ฮ่องสอน',
 'ไม่มีข้อมูล'}

###ข้อมูลภูมิภาค

In [35]:
data_province = {'จังหวัด': ['อำนาจเจริญ', 'บึงกาฬ', 'บุรีรัมย์', 'ชัยภูมิ', 'กาฬสินธุ์', 'ขอนแก่น', 'เลย', 'มหาสารคาม', 'มุกดาหาร', 'นครพนม', 'นครราชสีมา', 'หนองบัวลำภู', 'หนองคาย', 'ร้อยเอ็ด', 'สกลนคร', 'ศรีสะเกษ', 'สุรินทร์', 'อุบลราชธานี', 'อุดรธานี', 'ยโสธร','เชียงใหม่', 'เชียงราย', 'ลำปาง', 'ลำพูน', 'แม่ฮ่องสอน', 'น่าน', 'พะเยา', 'แพร่', 'อุตรดิตถ์','ตาก','สุโขทัย', 'พิษณุโลก', 'พิจิตร', 'กำแพงเพชร', 'เพชรบูรณ์','นครสวรรค์', 'อุทัยธานี','อ่างทอง', 'ชัยนาท', 'พระนครศรีอยุธยา', 'กรุงเทพมหานคร', 'ลพบุรี', 'นครปฐม', 'นนทบุรี', 'ปทุมธานี', 'สมุทรปราการ','สมุทรสาคร', 'สมุทรสงคราม','สระบุรี', 'สิงห์บุรี', 'สุพรรณบุรี','นครนายก','ฉะเชิงเทรา', 'จันทบุรี', 'ชลบุรี', 'ปราจีนบุรี', 'ระยอง', 'สระแก้ว', 'ตราด','กาญจนบุรี', 'ราชบุรี','เพชรบุรี', 'ประจวบคีรีขันธ์','ชุมพร', 'นครศรีธรรมราช', 'นราธิวาส', 'ปัตตานี', 'พัทลุง', 'สงขลา', 'สุราษฎร์ธานี', 'ยะลา','กระบี่', 'พังงา', 'ภูเก็ต', 'ระนอง', 'สตูล', 'ตรัง'],
            '6 ภูมิภาค (ภูมิศาสตร์)': ['ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','ตะวันออกเฉียงเหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','เหนือ','ตะวันตก','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','กลาง','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันออก','ตะวันตก','ตะวันตก','ตะวันตก','ตะวันตก','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้','ใต้']}

In [36]:
data6 = pd.DataFrame.from_dict(data_province)
data6

       จังหวัด 6 ภูมิภาค (ภูมิศาสตร์)
0   อำนาจเจริญ     ตะวันออกเฉียงเหนือ
1       บึงกาฬ     ตะวันออกเฉียงเหนือ
2    บุรีรัมย์     ตะวันออกเฉียงเหนือ
3      ชัยภูมิ     ตะวันออกเฉียงเหนือ
4    กาฬสินธุ์     ตะวันออกเฉียงเหนือ
..         ...                    ...
72       พังงา                    ใต้
73      ภูเก็ต                    ใต้
74       ระนอง                    ใต้
75        สตูล                    ใต้
76        ตรัง                    ใต้

[77 rows x 2 columns]

###รวมตารางของภูมิภาคกับโควิด

In [37]:
case_pro=  confirm.merge(data6,how='right',left_on='province_of_onset',right_on = 'จังหวัด')
case_pro

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,Unnamed: 11,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,973.0,26/3/2020,25/3/2020,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,เมือง,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,1864.0,2/4/2020,1/4/2020,หญิง,46.0,ปี,Thailand,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ปทุมราชวงศา,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,6493.0,30/12/2020,29/12/2020,หญิง,37.0,ปี,Thailand,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,หัวตะพาน,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,7390.0,3/1/2021,2/1/2021,หญิง,26.0,ปี,Laos,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038.0,10/4/2021,9/4/2021,ชาย,38.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,เมือง,NaN,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904754,3271105.0,17/3/2022,16/3/2022,หญิง,5.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,ย่านตาขาว,NaN,ตรัง,ใต้
2904755,3272635.0,17/3/2022,16/3/2022,ไม่มีข้อมูล,37.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,ย่านตาขาว,NaN,ตรัง,ใต้
2904756,3293983.0,18/3/2022,17/3/2022,ชาย,54.0,ปี,Thailand,ยโสธร,อื่นๆ,ตรัง,ไม่มีข้อมูล,NaN,ตรัง,ใต้
2904757,3297287.0,18/3/2022,17/3/2022,หญิง,40.0,ปี,Thailand,ภูเก็ต,อื่นๆ,ตรัง,สิเกา,NaN,ตรัง,ใต้
2904758,3300240.0,18/3/2022,17/3/2022,ไม่มีข้อมูล,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,กันตัง,NaN,ตรัง,ใต้

In [38]:
case_pro0 = case_pro.drop(['Unnamed: 11'], axis = 1)
case_pro0

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,973.0,26/3/2020,25/3/2020,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,เมือง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,1864.0,2/4/2020,1/4/2020,หญิง,46.0,ปี,Thailand,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ปทุมราชวงศา,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,6493.0,30/12/2020,29/12/2020,หญิง,37.0,ปี,Thailand,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,หัวตะพาน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,7390.0,3/1/2021,2/1/2021,หญิง,26.0,ปี,Laos,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038.0,10/4/2021,9/4/2021,ชาย,38.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,เมือง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904754,3271105.0,17/3/2022,16/3/2022,หญิง,5.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,ย่านตาขาว,ตรัง,ใต้
2904755,3272635.0,17/3/2022,16/3/2022,ไม่มีข้อมูล,37.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,ย่านตาขาว,ตรัง,ใต้
2904756,3293983.0,18/3/2022,17/3/2022,ชาย,54.0,ปี,Thailand,ยโสธร,อื่นๆ,ตรัง,ไม่มีข้อมูล,ตรัง,ใต้
2904757,3297287.0,18/3/2022,17/3/2022,หญิง,40.0,ปี,Thailand,ภูเก็ต,อื่นๆ,ตรัง,สิเกา,ตรัง,ใต้
2904758,3300240.0,18/3/2022,17/3/2022,ไม่มีข้อมูล,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,กันตัง,ตรัง,ใต้

In [39]:
case_pro0.isnull().any()

No.                        True
announce_date              True
Notified date              True
sex                        True
age                        True
Unit                       True
nationality                True
province_of_isolation      True
risk                       True
province_of_onset          True
district_of_onset          True
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

In [40]:
case_pro1=case_pro0.dropna()
case_pro1

,No.,announce_date,Notified date,sex,age,Unit,nationality,province_of_isolation,risk,province_of_onset,district_of_onset,จังหวัด,6 ภูมิภาค (ภูมิศาสตร์)
0,973.0,26/3/2020,25/3/2020,ชาย,48.0,ปี,Thailand,อำนาจเจริญ,สถานบันเทิง,อำนาจเจริญ,เมือง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
1,1864.0,2/4/2020,1/4/2020,หญิง,46.0,ปี,Thailand,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,อำนาจเจริญ,ปทุมราชวงศา,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
2,6493.0,30/12/2020,29/12/2020,หญิง,37.0,ปี,Thailand,อำนาจเจริญ,Cluster ระยอง,อำนาจเจริญ,หัวตะพาน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
3,7390.0,3/1/2021,2/1/2021,หญิง,26.0,ปี,Laos,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,อำนาจเจริญ,หัวตะพาน,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
4,31038.0,10/4/2021,9/4/2021,ชาย,38.0,ปี,Thailand,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,อำนาจเจริญ,เมือง,อำนาจเจริญ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2904754,3271105.0,17/3/2022,16/3/2022,หญิง,5.0,ปี,Thailand,ตรัง,อื่นๆ,ตรัง,ย่านตาขาว,ตรัง,ใต้
2904755,3272635.0,17/3/2022,16/3/2022,ไม่มีข้อมูล,37.0,ปี,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,ย่านตาขาว,ตรัง,ใต้
2904756,3293983.0,18/3/2022,17/3/2022,ชาย,54.0,ปี,Thailand,ยโสธร,อื่นๆ,ตรัง,ไม่มีข้อมูล,ตรัง,ใต้
2904757,3297287.0,18/3/2022,17/3/2022,หญิง,40.0,ปี,Thailand,ภูเก็ต,อื่นๆ,ตรัง,สิเกา,ตรัง,ใต้
2904758,3300240.0,18/3/2022,17/3/2022,ไม่มีข้อมูล,37.136383,ไม่มีข้อมูล,ไม่มีข้อมูล,กรุงเทพมหานคร,อื่นๆ,ตรัง,กันตัง,ตรัง,ใต้

In [41]:
case_pro1.isnull().any()

No.                       False
announce_date             False
Notified date             False
sex                       False
age                       False
Unit                      False
nationality               False
province_of_isolation     False
risk                      False
province_of_onset         False
district_of_onset         False
จังหวัด                   False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

In [42]:
smaller_table = case_pro1[['No.','announce_date','sex','province_of_onset','risk','6 ภูมิภาค (ภูมิศาสตร์)']]  #เลือกมาเฉพาะชื่อคอลัมน์ที่ต้องการ  เป็น list ลำดับมีความสำคัญ
smaller_table

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
0,973.0,26/3/2020,ชาย,อำนาจเจริญ,สถานบันเทิง,ตะวันออกเฉียงเหนือ
1,1864.0,2/4/2020,หญิง,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,ตะวันออกเฉียงเหนือ
2,6493.0,30/12/2020,หญิง,อำนาจเจริญ,Cluster ระยอง,ตะวันออกเฉียงเหนือ
3,7390.0,3/1/2021,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
4,31038.0,10/4/2021,ชาย,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2904754,3271105.0,17/3/2022,หญิง,ตรัง,อื่นๆ,ใต้
2904755,3272635.0,17/3/2022,ไม่มีข้อมูล,ตรัง,อื่นๆ,ใต้
2904756,3293983.0,18/3/2022,ชาย,ตรัง,อื่นๆ,ใต้
2904757,3297287.0,18/3/2022,หญิง,ตรัง,อื่นๆ,ใต้
2904758,3300240.0,18/3/2022,ไม่มีข้อมูล,ตรัง,อื่นๆ,ใต้

In [43]:
smaller_table.isnull().any()

No.                       False
announce_date             False
sex                       False
province_of_onset         False
risk                      False
6 ภูมิภาค (ภูมิศาสตร์)    False
dtype: bool

In [44]:
set(smaller_table['sex'])

{'ช', 'ชาย', 'ญ', 'นาย', 'ร.ต.ท.', 'หญิง', 'หณิง', 'หห', 'ไม่มีข้อมูล'}

In [45]:
smaller_table['sex'].replace({'ช':'ชาย','ญ':'หญิง','นาย':'ชาย','ร.ต.ท.':'ไม่มีข้อมูล','หณิง':'หญิง','หห':'หญิง',
                                         }, inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [46]:
set(smaller_table['sex'])

{'ชาย', 'หญิง', 'ไม่มีข้อมูล'}

In [47]:
smaller_table['announce_date'] = pd.to_datetime(smaller_table['announce_date'],format="%d/%m/%Y")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [48]:
smaller_table

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
0,973.0,2020-03-26,ชาย,อำนาจเจริญ,สถานบันเทิง,ตะวันออกเฉียงเหนือ
1,1864.0,2020-04-02,หญิง,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,ตะวันออกเฉียงเหนือ
2,6493.0,2020-12-30,หญิง,อำนาจเจริญ,Cluster ระยอง,ตะวันออกเฉียงเหนือ
3,7390.0,2021-01-03,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
4,31038.0,2021-04-10,ชาย,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2904754,3271105.0,2022-03-17,หญิง,ตรัง,อื่นๆ,ใต้
2904755,3272635.0,2022-03-17,ไม่มีข้อมูล,ตรัง,อื่นๆ,ใต้
2904756,3293983.0,2022-03-18,ชาย,ตรัง,อื่นๆ,ใต้
2904757,3297287.0,2022-03-18,หญิง,ตรัง,อื่นๆ,ใต้
2904758,3300240.0,2022-03-18,ไม่มีข้อมูล,ตรัง,อื่นๆ,ใต้

In [49]:
data_covid = smaller_table.groupby('province_of_onset')[['No.']].count() #จัดกลุ่มตามจังหวัดและนับจำนวนคนในแต่ละจังหวัด
data_covid

                      No.
province_of_onset
กระบี่              17641
กรุงเทพมหานคร      567217
กาญจนบุรี           24322
กาฬสินธุ์           18589
กำแพงเพชร           13042
...                   ...
เชียงใหม่           42422
เพชรบูรณ์           48551
เลย                  9927
แพร่                 5700
แม่ฮ่องสอน           4145

[76 rows x 1 columns]

#ทดลอง

In [50]:
data_Labour1 = pd.read_csv(os.path.join(path,'sector_02_28_TH_.csv'))
data_Labour1

,จังหวัด,จำนวนคนปี 2560,จำนวนคนปี 2561,จำนวนคนปี 2662,จำนวนคนปี 2563,จำนวนคนปี 2564
0,กรุงเทพมหานคร,95233,86233,91392,221048,97607
1,สมุทรปราการ,25526,15271,16160,24841,14489
2,นนทบุรี,22258,8888,8822,15768,10070
3,ปทุมธานี,5377,7117,6056,7496,19589
4,พระนครศรีอยุธยา,13023,10947,11551,11399,10726
...,...,...,...,...,...,...
72,ตรัง,1487,1204,1367,2621,2276
73,พัทลุง,1809,1977,1850,2217,2792
74,ปัตตานี,3345,3542,5068,5964,3523
75,ยะลา,3235,3582,4255,3929,5765
76,นราธิวาส,2253,2671,2509,2804,3289

In [51]:
data_Labour1.isnull().any()

จังหวัด           False
จำนวนคนปี 2560    False
จำนวนคนปี 2561    False
จำนวนคนปี 2662    False
จำนวนคนปี 2563    False
จำนวนคนปี 2564    False
dtype: bool

In [52]:
eiei = data_Labour1[['จังหวัด','จำนวนคนปี 2560']]
eiei['ปี']=2560
eiei

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            จังหวัด  จำนวนคนปี 2560    ปี
0     กรุงเทพมหานคร           95233  2560
1       สมุทรปราการ           25526  2560
2           นนทบุรี           22258  2560
3          ปทุมธานี            5377  2560
4   พระนครศรีอยุธยา           13023  2560
..              ...             ...   ...
72             ตรัง            1487  2560
73           พัทลุง            1809  2560
74          ปัตตานี            3345  2560
75             ยะลา            3235  2560
76         นราธิวาส            2253  2560

[77 rows x 3 columns]

In [53]:
eieiei1 = eiei.rename({'จำนวนคนปี 2560': 'จำนวนคน'}, axis='columns')
eieiei1

            จังหวัด  จำนวนคน    ปี
0     กรุงเทพมหานคร    95233  2560
1       สมุทรปราการ    25526  2560
2           นนทบุรี    22258  2560
3          ปทุมธานี     5377  2560
4   พระนครศรีอยุธยา    13023  2560
..              ...      ...   ...
72             ตรัง     1487  2560
73           พัทลุง     1809  2560
74          ปัตตานี     3345  2560
75             ยะลา     3235  2560
76         นราธิวาส     2253  2560

[77 rows x 3 columns]

In [54]:
eiei1 = data_Labour1[['จังหวัด','จำนวนคนปี 2561']]
eiei1['ปี']=2561
eieiei2 = eiei1.rename({'จำนวนคนปี 2561': 'จำนวนคน'}, axis='columns')
eieiei2

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            จังหวัด  จำนวนคน    ปี
0     กรุงเทพมหานคร    86233  2561
1       สมุทรปราการ    15271  2561
2           นนทบุรี     8888  2561
3          ปทุมธานี     7117  2561
4   พระนครศรีอยุธยา    10947  2561
..              ...      ...   ...
72             ตรัง     1204  2561
73           พัทลุง     1977  2561
74          ปัตตานี     3542  2561
75             ยะลา     3582  2561
76         นราธิวาส     2671  2561

[77 rows x 3 columns]

In [55]:
eiei2 = data_Labour1[['จังหวัด','จำนวนคนปี 2662']]
eiei2['ปี']=2562
eieiei3 = eiei2.rename({'จำนวนคนปี 2662': 'จำนวนคน'}, axis='columns')
eieiei3

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            จังหวัด  จำนวนคน    ปี
0     กรุงเทพมหานคร    91392  2562
1       สมุทรปราการ    16160  2562
2           นนทบุรี     8822  2562
3          ปทุมธานี     6056  2562
4   พระนครศรีอยุธยา    11551  2562
..              ...      ...   ...
72             ตรัง     1367  2562
73           พัทลุง     1850  2562
74          ปัตตานี     5068  2562
75             ยะลา     4255  2562
76         นราธิวาส     2509  2562

[77 rows x 3 columns]

In [56]:
eiei3 = data_Labour1[['จังหวัด','จำนวนคนปี 2563']]
eiei3['ปี']=2563
eieiei4 = eiei3.rename({'จำนวนคนปี 2563': 'จำนวนคน'}, axis='columns')
eieiei4

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            จังหวัด  จำนวนคน    ปี
0     กรุงเทพมหานคร   221048  2563
1       สมุทรปราการ    24841  2563
2           นนทบุรี    15768  2563
3          ปทุมธานี     7496  2563
4   พระนครศรีอยุธยา    11399  2563
..              ...      ...   ...
72             ตรัง     2621  2563
73           พัทลุง     2217  2563
74          ปัตตานี     5964  2563
75             ยะลา     3929  2563
76         นราธิวาส     2804  2563

[77 rows x 3 columns]

In [57]:
eiei4 = data_Labour1[['จังหวัด','จำนวนคนปี 2564']]
eiei4['ปี']=2564
eieiei5 = eiei4.rename({'จำนวนคนปี 2564': 'จำนวนคน'}, axis='columns')
eieiei5

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

            จังหวัด  จำนวนคน    ปี
0     กรุงเทพมหานคร    97607  2564
1       สมุทรปราการ    14489  2564
2           นนทบุรี    10070  2564
3          ปทุมธานี    19589  2564
4   พระนครศรีอยุธยา    10726  2564
..              ...      ...   ...
72             ตรัง     2276  2564
73           พัทลุง     2792  2564
74          ปัตตานี     3523  2564
75             ยะลา     5765  2564
76         นราธิวาส     3289  2564

[77 rows x 3 columns]

In [74]:
labour_1 = pd.concat([eieiei4,eieiei5])  #รวมตาราง
labour_1

            จังหวัด  จำนวนคน    ปี
0     กรุงเทพมหานคร   221048  2563
1       สมุทรปราการ    24841  2563
2           นนทบุรี    15768  2563
3          ปทุมธานี     7496  2563
4   พระนครศรีอยุธยา    11399  2563
..              ...      ...   ...
72             ตรัง     2276  2564
73           พัทลุง     2792  2564
74          ปัตตานี     3523  2564
75             ยะลา     5765  2564
76         นราธิวาส     3289  2564

[154 rows x 3 columns]

In [75]:
labour_2=  labour_1.merge(data6,how='right',left_on='จังหวัด',right_on = 'จังหวัด')
labour_2

        จังหวัด  จำนวนคน    ปี 6 ภูมิภาค (ภูมิศาสตร์)
0    อำนาจเจริญ     1771  2563     ตะวันออกเฉียงเหนือ
1    อำนาจเจริญ     2137  2564     ตะวันออกเฉียงเหนือ
2        บึงกาฬ     2180  2563     ตะวันออกเฉียงเหนือ
3        บึงกาฬ     1058  2564     ตะวันออกเฉียงเหนือ
4     บุรีรัมย์     3651  2563     ตะวันออกเฉียงเหนือ
..          ...      ...   ...                    ...
149       ระนอง     1310  2564                    ใต้
150        สตูล     3597  2563                    ใต้
151        สตูล     3720  2564                    ใต้
152        ตรัง     2621  2563                    ใต้
153        ตรัง     2276  2564                    ใต้

[154 rows x 4 columns]

#แยก

In [60]:
covid_1 = smaller_table[smaller_table['announce_date'] <= '2020-12-31']  
covid_1

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
0,973.0,2020-03-26,ชาย,อำนาจเจริญ,สถานบันเทิง,ตะวันออกเฉียงเหนือ
1,1864.0,2020-04-02,หญิง,อำนาจเจริญ,คนไทยเดินทางกลับจากต่างประเทศ,ตะวันออกเฉียงเหนือ
2,6493.0,2020-12-30,หญิง,อำนาจเจริญ,Cluster ระยอง,ตะวันออกเฉียงเหนือ
7959,389.0,2020-03-21,ชาย,บุรีรัมย์,คนต่างชาติเดินทางมาจากต่างประเทศ,ตะวันออกเฉียงเหนือ
7960,733.0,2020-03-24,หญิง,บุรีรัมย์,คนไทยเดินทางกลับจากต่างประเทศ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2882030,1114.0,2020-03-27,หญิง,ตรัง,อาชีพเสี่ยง เช่น ทำงานในสถานที่แออัด หรือทำงาน...,ใต้
2882031,1352.0,2020-03-29,ชาย,ตรัง,บุคลากรด้านการแพทย์และสาธารณสุข,ใต้
2882032,2016.0,2020-04-04,หญิง,ตรัง,คนไทยเดินทางกลับจากต่างประเทศ,ใต้
2882033,2394.0,2020-04-09,ชาย,ตรัง,คนต่างชาติเดินทางมาจากต่างประเทศ,ใต้
2882034,5949.0,2020-12-26,หญิง,ตรัง,Cluster สมุทรสาคร,ใต้

In [61]:
covid_2 = smaller_table[(smaller_table['announce_date'] >='2021-01-01') & (smaller_table['announce_date'] <='2021-03-31')] 
covid_2

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
3,7390.0,2021-01-03,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
7974,9658.0,2021-01-08,หญิง,บุรีรัมย์,Cluster บ่อนพัทยา/ชลบุรี,ตะวันออกเฉียงเหนือ
15788,6898.0,2021-01-01,ชาย,ชัยภูมิ,สถานบันเทิง,ตะวันออกเฉียงเหนือ
15789,9832.0,2021-01-08,หญิง,ชัยภูมิ,Cluster สมุทรสาคร,ตะวันออกเฉียงเหนือ
15790,10163.0,2021-01-10,ชาย,ชัยภูมิ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2882035,7437.0,2021-01-03,หญิง,ตรัง,Cluster ระยอง,ใต้
2882036,10919.0,2021-01-13,หญิง,ตรัง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ใต้
2882037,11706.0,2021-01-17,ชาย,ตรัง,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,ใต้
2882038,11707.0,2021-01-17,ชาย,ตรัง,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,ใต้
2882039,12415.0,2021-01-18,หญิง,ตรัง,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ใต้

In [62]:
covid_3 = smaller_table[(smaller_table['announce_date'] >='2021-04-01') & (smaller_table['announce_date'] <='2021-06-30')]   
covid_3

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
4,31038.0,2021-04-10,ชาย,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตะวันออกเฉียงเหนือ
5,31039.0,2021-04-10,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
6,32917.0,2021-04-12,ชาย,อำนาจเจริญ,สถานบันเทิง,ตะวันออกเฉียงเหนือ
7,32918.0,2021-04-12,ชาย,อำนาจเจริญ,สถานบันเทิง,ตะวันออกเฉียงเหนือ
8,36501.0,2021-04-15,หญิง,อำนาจเจริญ,ไปสถานที่เสี่ยง เช่น ตลาด สถานที่ชุมชน,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2883680,256919.0,2021-06-30,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2883681,256920.0,2021-06-30,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2883682,256921.0,2021-06-30,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2883683,256922.0,2021-06-30,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2883684,257345.0,2021-06-30,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้

In [63]:
covid_4 = smaller_table[(smaller_table['announce_date'] >='2021-07-01') &  (smaller_table['announce_date'] <= '2021-07-31')]    
covid_4

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
66,267637.0,2021-07-02,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
67,274054.0,2021-07-03,ชาย,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
68,282257.0,2021-07-04,หญิง,อำนาจเจริญ,ระบุไม่ได้,ตะวันออกเฉียงเหนือ
69,286721.0,2021-07-05,หญิง,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
70,286723.0,2021-07-05,ชาย,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2884429,592414.0,2021-07-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2884430,592415.0,2021-07-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2884431,592416.0,2021-07-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2884432,592419.0,2021-07-31,ชาย,ตรัง,อื่นๆ,ใต้
2884433,597226.0,2021-07-31,ชาย,ตรัง,ทัณฑสถาน/เรือนจำ,ใต้

In [64]:
covid_5 = smaller_table[(smaller_table['announce_date'] >='2021-08-01') &  (smaller_table['announce_date'] <= '2021-08-15')]   
covid_5

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
142,610559.0,2021-08-01,หญิง,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
143,628347.0,2021-08-02,หญิง,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
144,628408.0,2021-08-02,หญิง,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
145,628409.0,2021-08-02,ชาย,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
146,628410.0,2021-08-02,หญิง,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2885270,901748.0,2021-08-15,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2885271,901749.0,2021-08-15,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2885272,901750.0,2021-08-15,ชาย,ตรัง,อื่นๆ,ใต้
2885273,901751.0,2021-08-15,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2885274,901752.0,2021-08-15,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้

In [65]:
covid_11 = smaller_table[(smaller_table['announce_date'] >='2021-08-16') &  (smaller_table['announce_date'] <= '2021-08-31')]   
covid_11

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
200,921814.0,2021-08-16,ไม่มีข้อมูล,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
201,921816.0,2021-08-16,ไม่มีข้อมูล,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
202,924703.0,2021-08-16,ชาย,อำนาจเจริญ,การค้นหาผู้ป่วยเชิงรุกและค้นหาผู้ติดเชื้อในชุมชน,ตะวันออกเฉียงเหนือ
203,939947.0,2021-08-17,หญิง,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
204,942104.0,2021-08-17,ชาย,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2885963,1200360.0,2021-08-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2885964,1200361.0,2021-08-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2885965,1200362.0,2021-08-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2885966,1200363.0,2021-08-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2885967,1200364.0,2021-08-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้

In [66]:
covid_6 = smaller_table[(smaller_table['announce_date'] >='2021-09-01') &  (smaller_table['announce_date'] <='2021-09-30')]     
covid_6

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
251,1228694.0,2021-09-02,ชาย,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
252,1233114.0,2021-09-02,ไม่มีข้อมูล,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
253,1233122.0,2021-09-02,ไม่มีข้อมูล,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
254,1243233.0,2021-09-03,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
255,1243234.0,2021-09-03,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2887362,1601154.0,2021-09-30,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2887363,1601155.0,2021-09-30,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2887364,1601156.0,2021-09-30,ชาย,ตรัง,อื่นๆ,ใต้
2887365,1601157.0,2021-09-30,หญิง,ตรัง,อื่นๆ,ใต้
2887366,1601158.0,2021-09-30,หญิง,ตรัง,อื่นๆ,ใต้

In [67]:
covid_7 = smaller_table[(smaller_table['announce_date'] >='2021-10-01') &  (smaller_table['announce_date'] <='2021-10-31')]     
covid_7

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
353,1621667.0,2021-10-02,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
354,1621668.0,2021-10-02,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
355,1621669.0,2021-10-02,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
356,1621670.0,2021-10-02,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
357,1621671.0,2021-10-02,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2892181,1910473.0,2021-10-31,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2892182,1910474.0,2021-10-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2892183,1910475.0,2021-10-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2892184,1910476.0,2021-10-31,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2892185,1910477.0,2021-10-31,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้

In [68]:
covid_8 = smaller_table[(smaller_table['announce_date'] >='2022-01-01') &  (smaller_table['announce_date'] <='2022-01-31')] 
covid_8

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
658,2225304.0,2022-01-01,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
659,2225305.0,2022-01-01,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
660,2225306.0,2022-01-01,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
661,2225310.0,2022-01-01,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
662,2225311.0,2022-01-01,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2899912,2439172.0,2022-01-31,หญิง,ตรัง,อื่นๆ,ใต้
2899913,2439173.0,2022-01-31,ชาย,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2899914,2439174.0,2022-01-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2899915,2439176.0,2022-01-31,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2899916,2440003.0,2022-01-31,ไม่มีข้อมูล,ตรัง,อื่นๆ,ใต้

In [72]:
covid_12 = smaller_table[(smaller_table['announce_date'] >='2022-02-01') &  (smaller_table['announce_date'] <='2022-02-28')] 
covid_12

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
1069,2445435.0,2022-02-01,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
1070,2445436.0,2022-02-01,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
1071,2445437.0,2022-02-01,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
1072,2445438.0,2022-02-01,หญิง,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
1073,2445439.0,2022-02-01,ชาย,อำนาจเจริญ,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2901797,2888243.0,2022-02-28,หญิง,ตรัง,อื่นๆ,ใต้
2901798,2888244.0,2022-02-28,หญิง,ตรัง,อื่นๆ,ใต้
2901799,2888245.0,2022-02-28,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2901800,2888246.0,2022-02-28,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้
2901801,2888247.0,2022-02-28,หญิง,ตรัง,สัมผัสใกล้ชิดกับผู้ป่วยยืนยันรายก่อนหน้านี้,ใต้

In [70]:
covid_10 = smaller_table[(smaller_table['announce_date'] >='2022-03-01') &  (smaller_table['announce_date'] <='2022-03-18')] 
covid_10

,No.,announce_date,sex,province_of_onset,risk,6 ภูมิภาค (ภูมิศาสตร์)
2177,2906174.0,2022-03-01,หญิง,อำนาจเจริญ,อยู่ระหว่างการสอบสวน,ตะวันออกเฉียงเหนือ
2178,2906175.0,2022-03-01,หญิง,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตะวันออกเฉียงเหนือ
2179,2906176.0,2022-03-01,ชาย,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
2180,2906177.0,2022-03-01,หญิง,อำนาจเจริญ,ไปสถานที่ชุมชน เช่น ตลาดนัด สถานที่ท่องเที่ยว,ตะวันออกเฉียงเหนือ
2181,2906178.0,2022-03-01,หญิง,อำนาจเจริญ,อื่นๆ,ตะวันออกเฉียงเหนือ
...,...,...,...,...,...,...
2904754,3271105.0,2022-03-17,หญิง,ตรัง,อื่นๆ,ใต้
2904755,3272635.0,2022-03-17,ไม่มีข้อมูล,ตรัง,อื่นๆ,ใต้
2904756,3293983.0,2022-03-18,ชาย,ตรัง,อื่นๆ,ใต้
2904757,3297287.0,2022-03-18,หญิง,ตรัง,อื่นๆ,ใต้
2904758,3300240.0,2022-03-18,ไม่มีข้อมูล,ตรัง,อื่นๆ,ใต้

In [76]:
#covid_1.to_csv(os.path.join(path,'covid_1.csv'))
#covid_2.to_csv(os.path.join(path,'covid_2.csv'))
#covid_3.to_csv(os.path.join(path,'covid_3.csv'))
#covid_4.to_csv(os.path.join(path,'covid_4.csv'))
#covid_5.to_csv(os.path.join(path,'covid_5.csv'))
#covid_6.to_csv(os.path.join(path,'covid_6.csv'))
#covid_7.to_csv(os.path.join(path,'covid_7.csv'))
#covid_8.to_csv(os.path.join(path,'covid_8.csv'))
#covid_12.to_csv(os.path.join(path,'covid_12.csv'))
#covid_10.to_csv(os.path.join(path,'covid_10.csv'))
#covid_11.to_csv(os.path.join(path,'covid_11.csv'))
#data_covid.to_csv(os.path.join(path,'data_covid.csv'))
#labour_2.to_csv(os.path.join(path,'labour_2.csv'))